<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Language Tests App{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/style.css') }}">
</head>
<body>
{{ include('header.html.twig') }}
<div class="site-content">
    {% block body %}{% endblock %}
    {{ include('footer.html.twig') }}
</div>
{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{ asset('scripts/localDataStorage.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/api/testApi.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/api/languageApi.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/api/groupApi.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/api/uploadApi.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/basic.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/tests.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/languages.js"') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/groups.js') }}"></script>
<script type="text/javascript" src="{{ asset('scripts/upload.js"') }}"></script>
</body>
</html>